<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:jaxrs="http://cxf.apache.org/jaxrs"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:neo4j="http://www.springframework.org/schema/data/neo4j"
       xmlns:tx="http://www.springframework.org/schema/tx"
       xsi:schemaLocation="
       	http://www.springframework.org/schema/beans
       	http://www.springframework.org/schema/beans/spring-beans.xsd
		http://www.springframework.org/schema/context
		http://www.springframework.org/schema/context/spring-context.xsd
		http://www.springframework.org/schema/data/neo4j
		http://www.springframework.org/schema/data/neo4j/spring-neo4j.xsd
		http://www.springframework.org/schema/tx
		http://www.springframework.org/schema/tx/spring-tx.xsd
        http://cxf.apache.org/jaxrs
        http://cxf.apache.org/schemas/jaxrs.xsd">

    <import resource="classpath:META-INF/cxf/cxf.xml"/>

    <context:property-placeholder/>
    <context:annotation-config/>
    <context:spring-configured/>
    <context:component-scan base-package="pl.edu.pw.elka.spdb"/>

    <neo4j:config storeDirectory="entries-db"
                  base-package="pl.edu.pw.elka.spdb.model"/>
    <neo4j:repositories base-package="pl.edu.pw.elka.spdb.repositories"/>

    <tx:annotation-driven/>

    <bean class="org.springframework.beans.factory.config.PreferencesPlaceholderConfigurer"/>
    <bean id="conversionService"
          class="org.springframework.context.support.ConversionServiceFactoryBean">
        <property name="converters">
            <set>
                <bean class="pl.edu.pw.elka.spdb.converters.DurationToLongConverterFactory"/>
                <bean class="pl.edu.pw.elka.spdb.converters.LongToDurationConverterFactory"/>
            </set>
        </property>
    </bean>

    <bean class="pl.edu.pw.elka.spdb.configuration.impl.ConfigurationProvider"/>

    <jaxrs:server id="services" address="/">
        <jaxrs:serviceBeans>
            <bean class="pl.edu.pw.elka.spdb.services.MapEntryService"/>
        </jaxrs:serviceBeans>
        <jaxrs:providers>
            <bean class="pl.edu.pw.elka.spdb.providers.MapEntryProvider"/>
            <bean class="pl.edu.pw.elka.spdb.providers.RouteListProvider"/>
            <bean class="pl.edu.pw.elka.spdb.providers.PublicTransportRouteListProvider"/>
        </jaxrs:providers>
    </jaxrs:server>
</beans>
